*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

.navbar{
    position:sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:20px 50px;
    background:#111827;
    box-shadow:0 4px 15px rgba(0,0,0,0.3);
    z-index:100;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    color:#cbd5e1;
    margin-bottom:30px;
}

.hero button{
    border:none;
    padding:12px 25px;
    border-radius:8px;
    background:#38bdf8;
    color:black;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.hero button:hover{
    transform:scale(1.05);
}

.skills{
    padding:50px;
}

.skills h2{
    text-align:center;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.card{
    position:relative;
    width:250px;
    padding:25px;
    border-radius:15px;
    background:#1e293b;
    transition:0.4s;
    overflow:hidden;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 25px rgba(0,0,0,0.4);
}

.badge{
    position:absolute;
    top:15px;
    right:15px;
    background:#38bdf8;
    color:black;
    padding:4px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:bold;
}

.card h3{
    margin-top:20px;
    margin-bottom:10px;
}

.card p{
    color:#cbd5e1;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}