body{
    text-align:center;
}
#header{
    background-color:rgb(3, 133, 177);
    border:2px solid black;
    /* text-align: center; */
    padding:10px;
    margin-left:15%;
    margin-right:15%;
}
.skill-card{
    border:2px solid black;
    padding:10px;
    margin:25px;
    width:10%;
    /* text-align:left; */
}
p{
    color:green;
    font-size: 25px;
}